.main-container{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/fondo-rayas.png');
    background-size: cover;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.container-slide{
    width: 1132px;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	
}
.container-slide-categories{
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
	
}
.cs-hiden{
    height: 500px;
}
.box{
	width:350px;
	height:460px;
	background-color:#1e1e26;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.box-cat{
	width:250px;
	height:100%;
	background-color:#1e1e26;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.model{
	height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.box:hover{
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.btn:hover{
	transform-style: preserve-3d;
	transform: scale(1.1);
	transition: all ease 0.3s;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.lSSlideOuter {
    position: relative;
    overflow: visible;
}
.lSSlideWrapper {
    position: static;
}

button#goToPrevSlide {
    position: absolute;
    left: -60px;
}

button#goToNextSlide {
    position: absolute;
    right: -60px;
}
button#goToNextSlider {
    position: absolute;
    right: 40px;
}
button#goToPrevSlider {
    position: absolute;
    left: 40px;
}
.list-div {
    height: 110px;
    margin-bottom: 20px;
}
.container-games {
    overflow-y: scroll;
	height: calc(100vh - 160px);
	padding: 20px 0;
}
/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}