.main-container{
    height: 80px;
    padding: 0 150px;
    background: #1c1c1c;
    border-top: 1px solid gray;
}
.li-label-container {
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
}
.nav-item{
    padding: 0 30px;
}
.nav-item:hover{
    border-bottom: 7px solid #d9d28a;
}