<div class="main-container">
    <div class="row no-gutters h-100">
      <div class="container-right col-md-4 h-100">
        <div class="row h-100 no-gutters justify-content-start">
          <div class="nav-item col-md-auto align-self-center">
            <div class="li-label-container">
                <div class="li-centered" tooltip="Vagos studios">POWERED BY VAGOS STUDIOS SAS </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-left col-md-8 h-100">
        <div class="row h-100 no-gutters justify-content-end">
          <div class="nav-item col-auto align-self-center">
            <div class="li-label-container">
                <div class="li-centered" tooltip="Meet us">COPYRIGHT</div>
            </div>
          </div>
          <div class="nav-item col-auto align-self-center">
            <div class="li-label-container">
                <div class="li-centered" tooltip="Meet us">Tel: +57 315555555coriiente</div>
            </div>
          </div>
          <div class="nav-item col-auto align-self-center">
            <div class="li-label-container">
                <div class="li-centered" tooltip="Meet us">IMPERIOGAMING@GMAIL.COM</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
