<div class="main-container">
    <div class="row main-row no-gutters h-100">
        <div class="container-left col-xl-8">
            <div class="cover-image"></div>
            <div class="empty-div col-xl-12"></div>
            <div class="logo-container col-xl-12">
                <div class="logo-imperio"></div>
            </div>
            <div class="cr-container col-xl-12">
                <div class="row justify-content-center h-100">
                    <div class="col-md-8 col-sm-8 copy-text my-auto justify-content-center">
                    Copyright Imperio gaming 2020
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right col-xl-4">
            <div class="row align-items-center h-100 no-gutters">
                <div class="login-container col-12">
                    <div class="form-container col-8 justify-content-center">
                        <div class="form-title">
                            <span>INICIO DE SESIÓN</span>
                        </div>
                    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                            <div class="username form-login">
                                <div class="form-label">Introduce tu usuario o correo electrónico</div>
                                <input class="form-input" type="text" name="user-name" #userName="ngModel" [(ngModel)]="login.email" required>
                
                                <small *ngIf="!userName.valid && userName.touched">
                                    el nombre no es valido
                                </small>
                            </div>
                            <div class="pass form-login">
                                <div class="form-label">Introduce tu contraseña</div>
                                <input class="form-input" type="password" name="password"  #pass="ngModel" [(ngModel)]="login.pass" required>
                                <small *ngIf="!pass.valid && pass.touched">
                                    el password no debe tener bla
                                </small>
                            </div>
                            <div class="send form-login">
                                <div class="btn-border"></div>
                                <input  class ="btn-login" type="submit" value="Log in" [disabled]="loginForm.invalid" >
                            </div>
                        </form>
                        <div class="footer form-login form-label">
                            <span> Secured by VAGOS STUDIOS SAS</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
