.main-container{
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
}
.main-row{
    height: 100%;
}
.container-left{
    background-image: url('../../../assets/images/login-bg.png');
    background-size: cover;
}
.container-right{
    background: #1c1c1c;
}
.cover-image {
    position: absolute;
    background: rgb(158,7,7);
    background: radial-gradient(circle, rgba(158, 7, 7, 0.7) 10%, rgba(0, 0, 0, 0.908) 60%);
    width: 100%;
    height: 100%;
}
.logo-container{
    height: 46%;
}
.login-container {
    height: 597px;
}
.cr-container,
.empty-div{
    height: 27%;
}
.logo-imperio{
    background-image: url('../../../assets/images/logo-imperio.png');
    position: absolute;
    background-size: cover;
    transform: translate(-50%, -50%);
    width: 395px;
    height: 395px;
    top: 50%;
    left: 50%;
    background-position-y: -14px;
}
.form-container{
    height: 597px;
    max-width: 430px;
    margin: 0 auto;
    border-bottom: 8px solid #e19200;
    border-top: 8px solid #e19200;
}
.copy-text{
    color: #ffffff;
    text-align: center;
}

.form-title,
.footer,
.btn-login{
    color: #ffffff;
}
.form-label {
    font-size: 15px;
    color: #e0dedc;
    margin-bottom: 6px;
    margin-top: 18px;
}
.form-title{
    height: 130px;
    font-weight: 900;
    text-align: center;
    padding-top: 60px;
    font-size: 20px;
}
.send.form-login {
    height: 160px;
    text-align: center;
    padding-top: 74px;
    position: relative;
}
.btn-login {
    background: #e19200;
    border-radius: 8px;
    width: 164px;
    height: 54px;
    font-weight: 900;
    border: none;
    text-shadow: 0px 2px 4px #00000099;
    cursor: pointer;
}
.form-input{
    width: 100%;
    cursor: pointer;
    height: 36px;
    border-radius: 4px;
    border: none;
    padding-left: 12px;
}
.form-input:focus,
.btn-login:focus{
    outline: unset;
}
.form-login{
    height: 84px;
}
.btn-border {
    transform: translate(-50%,-50%);
    width: 180px;
    height: 63px;
    position: absolute;
    z-index: 0;
    border: 1px solid #e19200;
    top: 63%;
    left: 50%;
    border-radius: 8px;
    pointer-events: none;
}
.footer.form-login {
    position: relative;
    height: 14px;
    margin-top: 10px;
    /* vertical-align: 0; */
}
.footer span {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 20%;
    left: 50%;
    white-space: nowrap;
}
