<div class="main-container">
  <div class="row no-gutters h-100">
    <div class="container-right col-md-8 h-100">
      <div *ngIf="ROUTER.url!='/home' && ROUTER.url!='/'; else outerHome">
        <div class="row h-100 no-gutters justify-content-start">
          <div class="nav-item logo col-md-auto align-self-center">
            <div class="li-label-container">
              <div class="logo-imperio"></div>
            </div>
          </div>
          <div class="nav-item col-md-auto align-self-center">
            <a [routerLink]="['/home']" routerLinkActive="link-active">
              <div class="li-label-container">
                <div class="li-centered" tooltip="Meet us">INICIO </div>
              </div>
            </a>
          </div>
          <div class="nav-item col-md-auto align-self-center">
              <a [routerLink]="['/tournaments']" routerLinkActive="link-active">
                <div class="li-label-container">
                  <div class="li-centered" tooltip="Meet us">TORNEOS</div>
                </div>
              </a>
          </div>
          <div class="nav-item col-md-auto align-self-center">
            <a [routerLink]="['/store']" routerLinkActive="link-active">
              <div class="li-label-container">
                <div class="li-centered" tooltip="Meet us">TIENDA</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <ng-template #outerHome>
        <div class="row h-100 no-gutters justify-content-start">
          <div class="nav-item col-md-auto align-self-center">
            <a [routerLink]="['/home']" routerLinkActive="link-active">
              <div class="li-label-container">
                <div class="li-centered" tooltip="Meet us">INICIO </div>
              </div>
            </a>
          </div>
          <div class="nav-item col-md-auto align-self-center">
              <a [routerLink]="['/tournaments']" routerLinkActive="link-active">
                <div class="li-label-container">
                  <div class="li-centered" tooltip="Meet us">TORNEOS</div>
                </div>
              </a>
          </div>
          <div class="nav-item col-md-auto align-self-center">
            <a [routerLink]="['/store']" routerLinkActive="link-active">
              <div class="li-label-container">
                <div class="li-centered" tooltip="Meet us">TIENDA</div>
              </div>
            </a>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="container-left col-md-4 h-100">
      <div class="row h-100 no-gutters justify-content-end">
        <div class="nav-item col-auto align-self-center">
          <a [routerLink]="['/profile']" routerLinkActive="link-active">
            <div class="li-label-container">
              <div class="li-centered" tooltip="Meet us">MIS PUNTOS </div>
            </div>
          </a>
        </div>
        <div class="nav-item col-auto align-self-center">
          <a [routerLink]="['/login']" routerLinkActive="link-active">
            <div class="li-label-container">
              <div class="li-centered" tooltip="Meet us">MI CUENTA</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
