.main-container{
    height: 80px;
    padding: 0 150px;
    background: #1c1c1c;
    border-bottom: 1px solid gray;

}
.li-label-container {
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
}
.nav-item{
    padding: 0 30px;
}
.nav-item:hover{
    border-bottom: 7px solid #d9d28a;
}
.nav-item:first-child:hover{
    border-bottom:unset;
}
.logo-imperio{
    background-image: url('../../../assets/images/logo-imperio.png');
    position: absolute;
    background-size: cover;
    transform: translate(-50%, 0%);
    width: 136px;
    height: 136px;
    top: 10%;
    left: 50%;
    background-position-y: -14px;
    z-index: 2;
}
.nav-item.logo .li-label-container {
    position: relative;
    width: 76px;
    height: 70px;
}