<div class="main-container" role="main">
    <div *ngIf="ROUTER.url!='/login'; else outerLogin">
        <app-navbar></app-navbar>
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <ng-template #outerLogin>
        <router-outlet></router-outlet>
    </ng-template>
</div>